extends ./layouts/standard.pug

block content
  h1= title
  p Welcome to #{title}









  //- .row
  //-   h2 super Heroes 
  //-   .col-md-10.col-md-offset-1
  //-     .col-sm-6.col-md-4
  //-       .thumbnail
  //-         img(src="https://www.screengeek.net/wp-content/uploads/2019/04/avengers-endgame-hulk.jpg", alt="Hulk")
  //-         .caption
  //-           h3 Bruce Banner
  //-           p Hulk es un personaje ficticio, que aparece en los cómics estadounidenses publicados por la editorial Marvel Comics. El personaje fue creado por los escritores Stan Lee y Jack Kirby siendo su primera aparición en The Incredible Hulk #1 publicado en mayo de 1962
  //-           p 
  //-             a(href="#", class="btn btn-primary", role="button") Button
  //-             a(href="#", class="btn btn-default", role="button") Button